V3.7.stable/dm-web/dm-server/build-bind/core.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://funambol.com/framework/core" xmlns:ns1="http://funambol.com/framework/core/dm/ddf" elementFormDefault="qualified" targetNamespace="http://funambol.com/framework/core">
  <xs:import namespace="http://funambol.com/framework/core/dm/ddf" schemaLocation="ddf.xsd"/>
  <xs:element type="tns:get" substitutionGroup="tns:itemizedCommand" name="get"/>
  <xs:complexType name="DSMem">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;DSMem&g; element in the SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:boolean" name="sharedMem"/>
    <xs:attribute type="xs:long" use="required" name="maxMem"/>
    <xs:attribute type="xs:long" use="required" name="maxID"/>
  </xs:complexType>
  <xs:element type="tns:dataStore" name="dataStore"/>
  <xs:complexType name="verProto">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;VerProto&gt; tag as defined by the SyncML r epresentation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="version" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:syncBody" name="syncBody"/>
  <xs:complexType name="data">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Data&gt; tag in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="data" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:put" substitutionGroup="tns:itemizedCommand" name="put"/>
  <xs:complexType name="results">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Results&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:responseCommand"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EMI">
    <xs:annotation>
      <xs:documentation><![CDATA[This class corresponds to the &lt;EMI&gt; element in the SyncML metainfo DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="value" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="syncML">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;SyncML&gt; tag as defined by the SyncML r epresentation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:syncHdr" name="header" minOccurs="0"/>
      <xs:element type="tns:syncBody" name="body" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" use="required" name="lastMessage"/>
  </xs:complexType>
  <xs:complexType name="syncHdr">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;SyncHdr&gt; element in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:verDTD" name="verDTD" minOccurs="0"/>
      <xs:element type="tns:verProto" name="verProto" minOccurs="0"/>
      <xs:element type="tns:sessionID" name="sessionID" minOccurs="0"/>
      <xs:element type="xs:string" name="msgID" minOccurs="0"/>
      <xs:element type="tns:target" name="target" minOccurs="0"/>
      <xs:element type="tns:source" name="source" minOccurs="0"/>
      <xs:element type="xs:string" name="respURI" minOccurs="0"/>
      <xs:element type="tns:cred" name="cred" minOccurs="0"/>
      <xs:element type="tns:meta" name="meta" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="noResp"/>
  </xs:complexType>
  <xs:element type="tns:mark" name="mark"/>
  <xs:element type="tns:complexData" substitutionGroup="tns:data" name="complexData"/>
  <xs:complexType name="syncCap">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the synchronization capabilities of a datastore and corresponds to the &lt;SyncCap&gt; tag in the SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:syncType" name="syncType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mem">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Mem&gt; tag as defined by the SyncML r epresentation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:boolean" name="sharedMem"/>
    <xs:attribute type="xs:long" use="required" name="freeMem"/>
    <xs:attribute type="xs:long" use="required" name="freeID"/>
  </xs:complexType>
  <xs:element type="tns:modificationCommand" substitutionGroup="tns:itemizedCommand" name="modificationCommand"/>
  <xs:element type="tns:HMACAuthentication" substitutionGroup="tns:authentication" name="HMACAuthentication"/>
  <xs:complexType name="sync">
    <xs:annotation>
      <xs:documentation><![CDATA[Thic class corresponds to the &lt;Sync&gt; command in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:abstractCommand">
        <xs:sequence>
          <xs:element type="tns:target" name="target" minOccurs="0"/>
          <xs:element type="tns:source" name="source" minOccurs="0"/>
          <xs:element type="tns:meta" name="meta" minOccurs="0"/>
          <xs:element ref="tns:abstractCommand" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:int" use="required" name="numberOfChanges"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ext">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Ext&gt; element in the SyncML devinf DTD and specifies the non-standard, experimental extensions supported by the device.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="xNam" minOccurs="0"/>
      <xs:element type="xs:string" name="string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:data" name="data"/>
  <xs:element type="tns:add" substitutionGroup="tns:modificationCommand" name="add"/>
  <xs:complexType name="status">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Status&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:responseCommand">
        <xs:sequence>
          <xs:element type="tns:chal" name="chal" minOccurs="0"/>
          <xs:element ref="tns:data" minOccurs="0"/>
          <xs:element type="xs:string" name="cmd" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="responseCommand">
    <xs:annotation>
      <xs:documentation>This is the base (and abstract) class for response commands</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:itemizedCommand">
        <xs:sequence>
          <xs:element type="xs:string" name="msgRef" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Message reference</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element type="xs:string" name="cmdRef" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Command reference</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element type="tns:targetRef" name="targetRef" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="tns:sourceRef" name="sourceRef" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:contentTypeInfo" name="contentTypeInfo"/>
  <xs:element type="tns:exec" substitutionGroup="tns:modificationCommand" name="exec"/>
  <xs:element type="tns:itemizedCommand" substitutionGroup="tns:abstractCommand" name="itemizedCommand"/>
  <xs:element type="tns:CTCap" name="CTCap"/>
  <xs:element type="tns:authentication" name="authentication"/>
  <xs:complexType name="delete">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Delete&gt; element in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:modificationCommand">
        <xs:attribute type="xs:boolean" name="archive"/>
        <xs:attribute type="xs:boolean" name="sftDel"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mapItem">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;MapItem&gt; tag as defined by the SyncML r epresentation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:target" name="target" minOccurs="0"/>
      <xs:element type="tns:source" name="source" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Meta&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="format" minOccurs="0"/>
      <xs:element type="xs:string" name="type" minOccurs="0"/>
      <xs:element type="xs:string" name="mark" minOccurs="0"/>
      <xs:element type="tns:anchor" name="anchor" minOccurs="0"/>
      <xs:element type="xs:string" name="version" minOccurs="0"/>
      <xs:element type="tns:nextNonce" name="nextNonce" minOccurs="0"/>
      <xs:element type="tns:EMI" name="EMI" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="tns:mem" name="mem" minOccurs="0"/>
      <xs:element type="tns:metInf" name="metInf" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="maxMsgSize"/>
    <xs:attribute type="xs:long" name="maxObjSize"/>
    <xs:attribute type="xs:long" name="size"/>
  </xs:complexType>
  <xs:element type="tns:ext" name="ext"/>
  <xs:complexType name="search">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Search&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:abstractCommand">
        <xs:sequence>
          <xs:element type="tns:target" name="target" minOccurs="0"/>
          <xs:element type="tns:source" name="source" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="xs:string" name="lang" minOccurs="0"/>
          <xs:element ref="tns:data" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:boolean" name="noResults"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:metInf" name="metInf"/>
  <xs:element type="tns:search" substitutionGroup="tns:abstractCommand" name="search"/>
  <xs:element type="tns:delete" substitutionGroup="tns:modificationCommand" name="delete"/>
  <xs:element type="tns:sync" substitutionGroup="tns:abstractCommand" name="sync"/>
  <xs:complexType name="target">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Target&gt; element as defined by the SyncML representation specifications]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="locURI" minOccurs="0"/>
      <xs:element type="xs:string" name="locName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:syncCap" name="syncCap"/>
  <xs:element type="tns:meta" name="meta"/>
  <xs:complexType name="authentication">
    <xs:annotation>
      <xs:documentation>This is a base class for "authentication" classes</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="data" minOccurs="0"/>
      <xs:element type="xs:string" name="username" minOccurs="0"/>
      <xs:element type="xs:string" name="password" minOccurs="0"/>
      <xs:element type="xs:string" name="deviceId" minOccurs="0"/>
      <xs:element type="xs:string" name="syncMLVerProto" minOccurs="0"/>
      <xs:element type="tns:meta" name="meta" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" use="required" name="encode"/>
  </xs:complexType>
  <xs:complexType name="put">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Put&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:itemizedCommand">
        <xs:sequence>
          <xs:element type="xs:string" name="lang" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:source" name="source"/>
  <xs:complexType name="mark">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;MapItem&gt; tag as defined by the SyncML r epresentation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:element type="tns:nextNonce" name="nextNonce"/>
  <xs:complexType name="source">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents to the &lt;Source&gt; s defined by the SyncML representation specifications]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="locURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specifies the source specific URI</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="locName" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specifies the display name for the source address</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataStore">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to &lt;DataStore&gt; element in SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:sourceRef" name="sourceRef" minOccurs="0"/>
      <xs:element type="xs:string" name="displayName" minOccurs="0"/>
      <xs:element type="tns:contentTypeInfo" name="rxPref" minOccurs="0"/>
      <xs:element type="tns:contentTypeInfo" name="contentTypeInfo" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="tns:contentTypeInfo" name="txPref" minOccurs="0"/>
      <xs:element type="tns:contentTypeInfo" name="contentTypeInfo" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="tns:DSMem" name="dsMem" minOccurs="0"/>
      <xs:element type="tns:syncCap" name="syncCap" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" use="required" name="maxGUIDSize"/>
  </xs:complexType>
  <xs:complexType name="anchor">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Anchor&gt; tag in the metainfo spec]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="last" minOccurs="0"/>
      <xs:element type="xs:string" name="next" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cred">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to &lt;Cred&gt; element in SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="tns:authentication" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="targetRef">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;TargetRef&gt; element as defined by the SyncML representation specifications]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="value" minOccurs="0"/>
      <xs:element type="tns:target" name="target" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exec">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Exec&gt; tag in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:modificationCommand">
        <xs:sequence>
          <xs:element type="xs:string" name="correlator" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="add">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Add&gt; tag in the SyncML represent DTD. The Add operation is used to add data to a datastore.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:modificationCommand"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="sourceRef">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;SourceRef&gt; element as defined by the SyncML representation specifications]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="value" minOccurs="0"/>
      <xs:element type="tns:source" name="source" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CTType">
    <xs:annotation>
      <xs:documentation><![CDATA[This class corresponds to the &lt;CTType&gt; tag in the SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="ctType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="get">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Get&gt; tag in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:itemizedCommand">
        <xs:sequence>
          <xs:element type="xs:string" name="lang" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Item&gt; tag as defined by the SyncML representation specifications]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:target" name="target" minOccurs="0"/>
      <xs:element type="tns:source" name="source" minOccurs="0"/>
      <xs:element type="tns:meta" name="meta" minOccurs="0"/>
      <xs:element type="tns:complexData" name="data" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="moreData"/>
  </xs:complexType>
  <xs:complexType name="HMACAuthentication">
    <xs:annotation>
      <xs:documentation>Contains the information for HMAC autenthication</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element type="xs:string" name="userMac" minOccurs="0"/>
          <xs:element type="xs:string" name="algorithm" minOccurs="0"/>
          <xs:element type="xs:string" name="calculatedMac" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="modificationCommand">
    <xs:annotation>
      <xs:documentation>This is just a placeholder to group the modification commands. For now it does not add anything to the superclass.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:itemizedCommand"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:mem" name="mem"/>
  <xs:complexType name="alert">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to &lt;Alert&gt; element in SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:itemizedCommand">
        <xs:sequence>
          <xs:element type="xs:string" name="correlator" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:int" use="required" name="data"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:syncHdr" name="syncHdr"/>
  <xs:complexType name="syncType">
    <xs:annotation>
      <xs:documentation><![CDATA[This class corresponds to &lt;SyncType&gt; tag in SyncML devinfo DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute type="xs:int" use="required" name="syncType"/>
  </xs:complexType>
  <xs:complexType name="contentTypeParameter">
    <xs:annotation>
      <xs:documentation>This class represents the content type parameter such as paramName, valEnum, displayName or data type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="paramName" minOccurs="0"/>
      <xs:element type="xs:string" name="string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="xs:string" name="displayName" minOccurs="0"/>
      <xs:element type="xs:string" name="dataType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:int" use="required" name="size"/>
  </xs:complexType>
  <xs:complexType name="metInf">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;MetInf&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="format" minOccurs="0"/>
      <xs:element type="xs:string" name="type" minOccurs="0"/>
      <xs:element type="xs:string" name="mark" minOccurs="0"/>
      <xs:element type="tns:anchor" name="anchor" minOccurs="0"/>
      <xs:element type="xs:string" name="version" minOccurs="0"/>
      <xs:element type="tns:nextNonce" name="nextNonce" minOccurs="0"/>
      <xs:element type="tns:EMI" name="EMI" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="tns:mem" name="mem" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="maxMsgSize"/>
    <xs:attribute type="xs:long" name="maxObjSize"/>
    <xs:attribute type="xs:long" name="size"/>
  </xs:complexType>
  <xs:complexType name="copy">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Copy&gt; tag in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:modificationCommand"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:results" substitutionGroup="tns:responseCommand" name="results"/>
  <xs:element type="tns:atomic" substitutionGroup="tns:abstractCommand" name="atomic"/>
  <xs:complexType name="contentTypeInfo">
    <xs:annotation>
      <xs:documentation>This class represents the content type information such as content type and version of content type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="ctType" minOccurs="0"/>
      <xs:element type="xs:string" name="verCT" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devTyp">
    <xs:annotation>
      <xs:documentation><![CDATA[This class declares constants that correspond to values for the &lt;DevTyp&gt; element in SyncML devinf DTD <br> <br> The constructor is private because developers do not need to construct instances of this class.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="devInf">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &l;tDevInf&gt; element in the SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:verDTD" name="verDTD" minOccurs="0"/>
      <xs:element type="xs:string" name="man" minOccurs="0"/>
      <xs:element type="xs:string" name="mod" minOccurs="0"/>
      <xs:element type="xs:string" name="oem" minOccurs="0"/>
      <xs:element type="xs:string" name="fwV" minOccurs="0"/>
      <xs:element type="xs:string" name="swV" minOccurs="0"/>
      <xs:element type="xs:string" name="hwV" minOccurs="0"/>
      <xs:element type="xs:string" name="devID" minOccurs="0"/>
      <xs:element type="xs:string" name="devTyp" minOccurs="0"/>
      <xs:element type="tns:dataStore" name="datastore" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="tns:CTCap" name="CTCap" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="tns:ext" name="ext" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="utc"/>
    <xs:attribute type="xs:boolean" name="supportLargeObjs"/>
    <xs:attribute type="xs:boolean" name="supportNumberOfChanges"/>
  </xs:complexType>
  <xs:element type="tns:sessionID" name="sessionID"/>
  <xs:complexType name="itemizedCommand">
    <xs:annotation>
      <xs:documentation>This is a base class for "command" classes</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:abstractCommand">
        <xs:sequence>
          <xs:element ref="tns:item" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="tns:meta" name="meta" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="devInfData">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Data&gt; tag in the SyncML represent DTD when delivering a Put command element]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:data">
        <xs:sequence>
          <xs:element type="tns:devInf" name="devInf" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="chal">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents an authentication challenge element. It corresponds to the &lt;Chal&gt; element in SyncML representation DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:meta" name="meta" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:verProto" name="verProto"/>
  <xs:element type="tns:map" substitutionGroup="tns:abstractCommand" name="map"/>
  <xs:element type="tns:sourceRef" name="sourceRef"/>
  <xs:element type="tns:EMI" name="EMI"/>
  <xs:complexType name="verDTD">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;VerDTD&gt; tag in the SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="value" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:replace" substitutionGroup="tns:modificationCommand" name="replace"/>
  <xs:complexType name="abstractCommand">
    <xs:annotation>
      <xs:documentation>This is a base class for "command" classes</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:cmdID" name="cmdID" minOccurs="0"/>
      <xs:element type="tns:meta" name="meta" minOccurs="0"/>
      <xs:element type="tns:cred" name="credential" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="noResp"/>
  </xs:complexType>
  <xs:element type="tns:targetRef" name="targetRef"/>
  <xs:element type="tns:abstractCommand" name="abstractCommand"/>
  <xs:complexType name="sessionID">
    <xs:annotation>
      <xs:documentation><![CDATA[This class is related to the "last" and "next" values in an &lt;Anchor&gt; tag in the metainfo spec]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="sessionID" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="complexData">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Data&gt; tag in the SyncML represent DTD when delivering an Anchor]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:data">
        <xs:sequence>
          <xs:element type="tns:anchor" name="anchor" minOccurs="0"/>
          <xs:element type="tns:devInf" name="devInf" minOccurs="0"/>
          <xs:element type="ns1:mgmtTree" name="mgmtTree" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:devInfData" substitutionGroup="tns:data" name="devInfData"/>
  <xs:element type="tns:responseCommand" substitutionGroup="tns:itemizedCommand" name="responseCommand"/>
  <xs:complexType name="nextNonce">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to &lt;NextNonce&gt; tag that specifies the nonce string to be used in any subsequent communication]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:byte" name="byte" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:target" name="target"/>
  <xs:element type="tns:devInf" name="devInf"/>
  <xs:complexType name="devInfItem">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Item&gt; tag as defined by the SyncML representation specifications with device info like data.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:item">
        <xs:sequence>
          <xs:element type="tns:target" name="target" minOccurs="0"/>
          <xs:element type="tns:source" name="source" minOccurs="0"/>
          <xs:element type="tns:meta" name="meta" minOccurs="0"/>
          <xs:element type="tns:devInfData" name="data" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:statusCode" name="statusCode"/>
  <xs:element type="tns:anchor" name="anchor"/>
  <xs:element type="tns:contentTypeParameter" name="contentTypeParameter"/>
  <xs:complexType name="atomic">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;Atomic&gt; tag in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:abstractCommand">
        <xs:sequence>
          <xs:element ref="tns:abstractCommand" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:cmdID" name="cmdID"/>
  <xs:complexType name="CTTypeSupported">
    <xs:annotation>
      <xs:documentation>This class contains the information on CTCap</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:CTType" name="ctType" minOccurs="0"/>
      <xs:element type="tns:CTPropParam" name="ctPropParam" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:cred" name="cred"/>
  <xs:complexType name="CTCap">
    <xs:annotation>
      <xs:documentation><![CDATA[This class corresponds to the &lt;CTCap&gt; tag in the SyncML devinf DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="tns:CTTypeSupported" name="CTTypeSupported" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:verDTD" name="verDTD"/>
  <xs:complexType name="syncBody">
    <xs:annotation>
      <xs:documentation><![CDATA[Corresponds to the &lt;SyncBody&gt; element in the SyncML represent DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="tns:abstractCommand" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="finalMsg"/>
  </xs:complexType>
  <xs:complexType name="CTPropParam">
    <xs:annotation>
      <xs:documentation>This class represents the content type property such as property name, value, display name, size and the content type parameters</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="propName" minOccurs="0"/>
      <xs:element type="xs:string" name="string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="xs:string" name="displayName" minOccurs="0"/>
      <xs:element type="xs:string" name="dataType" minOccurs="0"/>
      <xs:element type="tns:contentTypeParameter" name="ctParameter" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:int" use="required" name="size"/>
  </xs:complexType>
  <xs:element type="tns:alert" substitutionGroup="tns:itemizedCommand" name="alert"/>
  <xs:element type="tns:mapItem" name="mapItem"/>
  <xs:element type="tns:chal" name="chal"/>
  <xs:element type="tns:devTyp" name="devTyp"/>
  <xs:element type="tns:DSMem" name="DSMem"/>
  <xs:complexType name="sequence">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Sequence&gt; tag as defined by the SyncML representation specifications. A sequence can contain the following commands: Add, Replace, Delete, Copy, Atomic, Map, Sync.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:abstractCommand">
        <xs:sequence>
          <xs:element ref="tns:abstractCommand" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:copy" substitutionGroup="tns:modificationCommand" name="copy"/>
  <xs:complexType name="cmdID">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;CmdID&gt; element specified by the SyncML representation DTD]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="cmdID" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="tns:CTTypeSupported" name="CTTypeSupported"/>
  <xs:complexType name="replace">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Replace&gt; tag as defined by the SyncML representation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:modificationCommand"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:devInfItem" substitutionGroup="tns:item" name="devInfItem"/>
  <xs:element type="tns:CTType" name="CTType"/>
  <xs:element type="tns:CTPropParam" name="CTPropParam"/>
  <xs:element type="tns:syncML" name="syncML"/>
  <xs:element type="tns:item" name="item"/>
  <xs:complexType name="statusCode">
    <xs:annotation>
      <xs:documentation>This class represents the possible status code.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="map">
    <xs:annotation>
      <xs:documentation><![CDATA[This class represents the &lt;Map&gt; tag as defined by the SyncML r epresentation specifications.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:abstractCommand">
        <xs:sequence>
          <xs:element type="tns:target" name="target" minOccurs="0"/>
          <xs:element type="tns:source" name="source" minOccurs="0"/>
          <xs:element type="tns:mapItem" name="mapItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element type="tns:status" substitutionGroup="tns:responseCommand" name="status"/>
  <xs:element type="tns:sequence" substitutionGroup="tns:abstractCommand" name="sequence"/>
</xs:schema>